[Unit]
Description=Personal Expense Tracker & Analytics Flask Application
After=network.target mysql.service

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/personal-expense-tracker
Environment="PATH=/home/ubuntu/personal-expense-tracker/venv/bin"
ExecStart=/home/ubuntu/personal-expense-tracker/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 --access-logfile - --error-logfile - app:app

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=expense-tracker

[Install]
WantedBy=multi-user.target
